# SQL

## Introduction

SQL stands for 'Structured Query Language', which perfectly describes what it does. It is a bespoke programming language designed for **query structured datasets**, specifically, relational databases. **Relational** databases are databases which are **related** by common columns - i.e. they have a common 'property' which links the data in some way. For example if you were to have two databases comprising defining characteristics of a building and of people, they could be related by the fact that they both have the property of height.

You are familiar with python and the package pandas, both of which are easy to understand and use. SQL is even nicer, and if you can work with pandas then you will be able to work with SQL as well.

## MySQL

In this notebook I am using MySQL, which is an integrated database and SQL system. It allows for the **creation** and **manipulation** of databases. SQL alone is just for querying and managing databases, it does not have a role in their implementation and storage. MySQL is a software which allows for the creation of datastorage as relational databases, and uses SQL to manipulate that data.

There are many other relational database management systems, all of which use SQL to query them. I am just using MySQL. In anycase, all the code snippets and syntax I use here is SQL.

## Preliminary: Connecting to a MySQL server

To access our database we need to connect to a MySQL server which provides the tools offered by MySQL. From a windows terminal:

```C:> mysql -u root -h localhost -p```

The 'C:>' is just the starting point for the terminal, everything after is typed. To start MySQL we run the program ```mysql``` followed by arguments specified by ```-letter```. In our case I have specified ```-u root``` which signs me in as the root user (the creater of the system); ```-h localhost```, which specifies the host server location as local (my own machine); and ```-p```, which prompts a password entry after I enter the above.

After this, I am connected to my MySQL server, and have access to its services.

## 1. Create a database

We shall start by creating a database:

```CREATE DATABASE kiara_db;```

In SQL is standard to capitalise SQL commands and leave names of variables and other things uncapitalised. This helps make clear what instructions are being given. They are also finished by a semi-colon. Pressing enter after not entering a semi-colon will take you to a new line which is nice for giving clarity to longer SQL commands, as you will see later.

<img src="./Screenshots/Create_Database.png" width=1000 height=1000 />

We now need to tell SQL that we want our commands to be directed towards **this** database, and not another one:

<img src="./Screenshots/Use_Database.png" width=1000 height=1000 />

## 2. Store and load data

We have our database, which is our chunk of storage where we keep data. We now want to be able to store data into our database, for which will need a table. A table is just how datasets are individually stored within a database, without them it would just be one big, unorganised mass of data. The basic syntax for creating a table is as follows:

```CREATE TABLE stock_prices (column_1 DATATYPE_1, column_2 DATATYPE_2, ...)```

Here we have specified our table name, and then within the brackets we have specified our column names and their prospective datatypes. Note: column and their datatypes are separated by whitespace, but different columns are separated by commas.

<img src="./Screenshots/Create_Table.png" width=1000 height=1000 />

Note: where I have not added a semi-colon, the terminal has put me onto another line, which you can see is much clearer than if it was all one big line.

There are many variables that can be declared and a list of all of them can be found [here](https://www.w3schools.com/sql/sql_datatypes.asp). The ones I have used are: VARCHAR(X), (variable character) which essentially specifies a string of maximum length X - in our case 50; INT is an integer, and FLOAT is a float.

We have set up a table and it is ready to be loaded with data. This can be done manually, from a file using SQL, or from a file using python. There is a very useful python package which combines the general programming properties of python with the databasing power of SQL, which we shall come onto later.

The syntax for manually adding data into a table is:

```mysql> INSERT INTO table_name (column_1, column_2, ..., column_n)
     -> VALUES (value_1, value_2, ..., value_n);```

Where you can specify as many columns as you want, or if you want to add data to every column you can drop the first set of brackets:

```mysql> INSERT INTO table_name
     -> VALUES (value_1, value_2, ..., value_n);```

In our case we want to load data from a file, so we will use the LOAD DATA argument:

<img src="./Screenshots/Load_Data.png" width=1000 height=1000 />

We can check if the data has been formatted as we want with ```SELECT column_1, column_2, ..., column_n FROM TABLE```. Again if you want to get all columns you replace the column names with an asterisk:

<img src="./Screenshots/SELECT.png" width=1000 height=1000 />

Seems about right.I have also specified the ```LIMIT``` argument which is similar to ```DataFrame.head()``` in pandas.

We can see there are some useless data columns so we can drop them as follows:

<img src="./Screenshots/DROP.png" width=1000 height=1000 />

The power of SQL lies in its ability to manipulate data that is *related*, so lets add in another table:

### TASK

- Create another table for the company names. The data is delimted by an ';', has four columns: Id, SimFinId, Company Name, and Industry Id, with datatypes: string, integer, string, integer, respectively. 
- What is the syntax to get the first 10 rows from our table?

This more or less how the table should look:

<img src="./Screenshots/New_Database.png" width=1000 height=1000 />

We can now join them as in `DataFrame.merge()`:

<img src="./Screenshots/JOIN.png" width=1000 height=1000 />